.login {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  &__left {
    display: none;
    padding: 3rem;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
    //   justify-content: space-between;
    }
  }

  &__brand img {
    height: 32px;
  }

  &__illustration {
    display: flex;
    // justify-content: center;
    margin-top: 140px;

    img {
      max-width: 90%;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  &__form {
    width: 100%;
    max-width: 420px;

    h1 {
      color: #213F7D;
      font-size: 40px;
      margin-bottom: 0.5rem;
    }

    p {
      color: #545F7D;
      margin-bottom: 3rem;
    }

    input {
      width: 100%;
      padding: 0.9rem 1rem;
      margin-bottom: 1.5rem;
      border: 2px solid #545F7D26 ;
      border-radius: 5px;
      font-size: 0.9rem;
      outline: none;
      

      &:focus {
        border-color: #39cdcc;
      }
    }
    input::placeholder{
        color:#545F7D;
    }

    .password-field {
      position: relative;

      button {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-100%);
        background: none;
        border: none;
        font-size: 0.75rem;
        color: #39CDCC;
        cursor: pointer;
        font-weight: 600;
      }
    }

    .forgot {
      display: inline-block;
      margin-bottom: 2rem;
      font-size: 0.75rem;
      font-weight: 600;
      color: #39CDCC;
    }

    .login-btn {
      width: 100%;
      padding: 0.9rem;
      background: #39cdcc;
      border: none;
      border-radius: 8px;
      color: #fff;
      font-weight: 600;
      letter-spacing: 0.05em;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
