.user-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 55px;
}

/* Back */
.back-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  color: #545f7d;
  cursor: pointer;
}

/* Header */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: #213F7D;
    font-size: 24px;
  }

  .actions {
    display: flex;
    gap: 20px;

    button {
      padding: 12px 16px 11px 16px;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
    }

    .danger {
      border: 1px solid #E4033B;
      background: transparent;
      color: #E4033B;
    }

    .primary {
      border: 1px solid #39CDCC;
      background: transparent;
      color: #39CDCC;
    }
  }
}

/* Summary */
.user-summary {
  display: flex;
  flex-direction: column;
//   align-items: center;
  gap: 51px;
  background: #fff;
  padding: 1.5rem 36px 0px 36px;

  border-radius: 6px;

  .profile {
    display: flex;
    gap: 20px;

    .avatar {
      width: 100px;
      height: 100px;
      font-size: 30px;
      border-radius: 50%;
      background: #dbe0ea;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .info {
      h3 {
        font-size: 24px;
        color: #213F7D;
        margin-bottom: 8px;
        font-weight: 500;
      }

      p {
        color: #545f7d;
        font-size: 14px;
      }
    }
  }
  .user-summary_top{
    display: flex;
    gap: 33px;
  }

  .divider {
    width: 0.5px;
    height: 80px;
    background: #e5e9f2;
  }

  .tier .stars svg {
    color: #E9B200;
    font-size: 16px;
    gap:4px;

    &.muted {
      color: #e5e5e5;
    }
    .tier_user{
        font-size: 22px;
        color: #545F7D;
        margin-bottom: 10px;
    
    }

  }
}

.balance_No{
    font-size: 24px;
    color: #213F7D;
    margin-bottom: 8px;
    font-weight: 500; 
}
.bank_name{
    color: #213F7D;
    font-size: 14px;
    font-weight: 400;
}





/* Tabs */
.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e9f2;

  button {
    background: none;
    border: none;
    padding-bottom: 0.75rem;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: #545f7d;

    &.active {
      color: #39cdcc;
      border-bottom: 2px solid #39cdcc;
    }
  }
}

/* Details block */
.details-blocks-container{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;

    background: #fff;
}
.details-block {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 6px;
  border-top: 1px solid #e5e9f2;

  h4 {
    margin-bottom: 1rem;
    color: #213f7d;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // gap: 1.5rem;
  }

  .label {
    font-size: 14px;
    color: #545F7D;
  }

  .grid-infos{
    display: flex;
    flex-direction: column;
    gap: 0px;
    // background-color: red;
  }
  .value {
    font-size: 16px;
    font-weight: 500;
    color: #545F7D;
  }
}
/* Responsive */
// @media (max-width: 1024px) {
//   .user-summary {
//     flex-direction: column;
//     align-items: flex-start;
//   }

//   .details-block .grid {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }
@media (max-width: 1024px) {
  .user-summary {
    &_top {
        display: flex;
        justify-content: space-around;
        width: 100%;
    //   flex-wrap: wrap;
    //   row-gap: 24px;
    }

    .divider {
      display: none;
    }

    .tabs {
      gap: 24px;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
 
}

@media (max-width: 768px) {
  .user-summary {
    padding: 20px;

    &_top {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }

    .profile {
      .avatar {
        width: 72px;
        height: 72px;
        font-size: 24px;
      }

      .info h3 {
        font-size: 18px;
      }
    }

    .tier {
      flex-direction: row;
      align-items: center;
      gap: 12px;
    }

    .balance {
      p.balance_No {
        font-size: 18px;
      }
    }

    .tabs {
      margin-top: 24px;
      gap: 20px;

      button {
        font-size: 13px;
      }
    }
  }
}


@media (max-width: 600px) {
  .page-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .tabs {
    overflow-x: auto;
  }

  .details-block .grid {
    grid-template-columns: 1fr;
  }
}
